listen docker-{{ hostname }}
  bind *:443  interface eth0
  bind *:80   interface eth0
  mode http
  option forwardfor
  redirect scheme https code 301 if !{ ssl_fc }
  server {{ hostname }} {{ ip }}:{{ target_port }}
